div.guideline-header {
  position: relative;
}

pre,
code {
  background-color: var(--osc-bench-warm);
  border: 1px solid var(--osc-bench-sunk);
  padding: 8px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  @include rounded-corners;
}